.custom-class{
    background:white;
}

.btn.__search.find-bt{

}

.modal-header .modal-title{
    display: inline-block;
    width: calc(100% - 18px);
}

.modal-header button{
    vertical-align: top;
}

.posts article ul.actions li{

}

.__is-articles p {
	margin-bottom: 0;
}

@media screen and (min-width: 1281px){
	.no-line .inner .main-cont .map_cont{
		display: none;
	}
}

@media screen and (max-width: 450px){
	.posts article ul.actions li {
	    position: relative;	    
	}
	.posts article:after {
	    bottom: -3.25em;
	    width: calc(100% + 4.5em);
	}
	.posts article {
	    margin: 0 0 6.5em 0 !important;
	}
}

@media screen and (max-width: 640px){
	.posts article {	   
	    width: 100%;
	}	
}

@media screen and (max-width: 1280px){
	#sidebar > .inner form.search input{
	    width: 68% !important;
	}
}

@media screen and (min-width: 640px) and (max-width: 968px){
	.posts article ul.actions li {	    
	    margin-bottom: -28px;
	}
	.posts article .desc-cont{
		max-height: 149px;
    	overflow: hidden;
	}
}

@media screen and (min-width: 1050px) and (max-width: 1280px){
	.posts article ul.actions li {	    
	    margin-bottom: -28px;
	}
}

@media screen and (min-width: 1050px) and (max-width: 1680px) {
	.posts article {
	 	width: calc(33.33333% - 6em);   
	}
	.posts article:nth-child(2n + 1):before {
		display: block;
	}

	.posts article .desc-cont{
		max-height: 147px;
    	overflow: hidden;
	}

	.posts article ul.actions li {	    
	    margin-bottom: -31px;
	}

	/*.posts article:nth-child(1n + 1):before {
		display: none;
	}*/

	.posts article:nth-child(2n + 1):after {
		width: calc(100% + 6em);
	}

	.posts article:nth-child(3n + 1):before {
		display: none;
	}

	.posts article:nth-child(3n + 1):after {
		width: 100%;
	}

	.posts article:nth-last-child(1):after, .posts article:nth-last-child(2):after, .posts article:nth-last-child(3):after {
		display: none !important;
	}

	.posts article:nth-last-child(1), .posts article:nth-last-child(2) {
		margin-bottom: 0;
	}

		.posts article:nth-last-child(1):before, .posts article:nth-last-child(2):before {
			height: 100%;
		}

		.posts article:nth-last-child(1):after, .posts article:nth-last-child(2):after {
			display: block;
		}

}

@media screen and (max-width: 636px){
	.menu-top-btns .top-line-section .cart-n-search {
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	    justify-content: flex-start;
	}
	.menu-top-btns .top-line-section .cart-n-search .search{
		display: flex;
	    margin: inherit;
	    align-items: center;
	    width: 100% ;
	    margin-top: 10px;
	}
	.menu-top-btns .top-line-section .cart-n-search .cart {
	    margin: inherit;
	    margin-right: inherit;
	}
	.menu-top-btns .top-line-section .cart-n-search .search input{
		width: calc(100% - 45px);
	}
	.menu-top-btns .top-line-section .cart-n-search .cart .fa{
		width: 25px;
	    display: inline-flex;
	    justify-content: center;
	}
	.menu-top-btns .top-line-section .quick-bts .item .item-wrp span{
		display: inline-flex;
	    width: 25px;
	    justify-content: center;
	    padding: 0;
	    margin-right: 13px;
	}
	.menu-top-btns .top-line-section .quick-bts .item .item-wrp{
		display: flex;
	    align-items: center;
	    justify-content: flex-start;
	}
	.top-btn-call.item .item-wrp .fa{
		display: flex;
	    width: 25px;
	    align-items: center;
	    justify-content: center;
	}
}