.btn
	@extend .button
.ta-text 
	@extend .content

.btn-group 
	button 
		margin: 1px
		.fa
			font-size: 16px
		&.active
			border: 1px solid $primary
	div
		padding-top: 3px
		//display: inline-block !important
		margin: 1px

.ta-editor
	&.ta-html /* global textarea */
		width: 100%

.btn-toolbar
	padding: 20px
	background-color: whitesmoke



