.button
  &.is-icon
    .icon
      margin-right: 0
      margin-left: 0
  &:hover,
  &.is-hovered,
  &:focus,
  &.is-focused,
  &:active,
  &.is-active
    border-color: #ccc
    color: inherit
  &:focus,
  &.is-focused
    box-shadow: $button-shadow-inset
  &.is-primary
    &:focus
      box-shadow: $button-shadow-inset

  &.is-loading:after
    border-radius: 100%
    left: 53%
    top: 55%
