.help
  margin-top: 0px
  &.is-prefix
    position: absolute
    top: 7px
    left: 31px
    font-size: 1rem

.is-file
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1
  & + .label-file
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    padding: 0 10px
    cursor: pointer

.select
  &.is-loading
    &:after
      +loader
      height: 1rem
      width: 1rem
      border-radius: 100%
      position: absolute !important
      pointer-events: none
      right: 0.8rem
      top: 1rem
    &:after
      z-index: 0
  &.is-small
    &.is-loading
      &:after
        +loader
        height: 10px
        width: 10px
        position: absolute !important
        pointer-events: none
        right: 10px
        top: 9px
    &:after
      z-index: 0
  select.is-disabled
    border-color: $grey-lighter


.control
  &.has-icon
    &:not(.has-icon-right)
      .input
        &.is-phone
          padding-left: 50px
        &.is-temporary
          @include animation(temporaryBorder 5s normal forwards ease-in-out)
    .icon
      top: 1.2rem
    .input:focus
      & + .icon
        color: #ccc
  &.is-loading:after
    top: 0.65em

.colorpicker
  @extend .box
  padding: 0
  .close-colorpicker
    display: none

.select
  &.is-input
    display: block
    &:after
      margin-top: -5px
      right: 12px

.control
  &.is-loading
    .select.is-input
      &:after
        display: none

.help 
  font-size: 0.85rem