.menu
  .menu-list
    ul
      display: none
      &.active
        display: block
    .menu-list__button
      &.is-active
        & ~ .menu-sub-list
          a.is-active
            position: relative
            &:before
              content: ''
              position: absolute
              display: block
              width: 5px
              height: 5px
              left: -14px
              background-color: #999
              border-radius: 100%
              top: 14px
.menu-list
  a.is-active
    background-color: transparent
    color: inherit
    font-weight: bold
  a:hover
    background-color: transparent




