nav .nav-logo
  font-size: 1rem
  font-weight: bold
  +mobile
  	padding: 10px !important

.menu
  .menu-list
    a.is-active
        & + ul
          display: block
    .menu-sub-list
      a.is-active
        background-color: transparent
        color: $primary
        font-weight: bold


.nav-fixed-sidebar
  padding-bottom: 0
  .box
    //min-height: calc(100vh - 54px)
    min-height: 100%
  +touch
    position: absolute
    z-index: 1
    display: flex !important
    width: 350px !important
    right: -291px
    @include transition(all ease-out .1s)
    &.is-active
      right: 0
    .nav-toggle
      display: block
    .box
      width: calc(100% - 49px)

