.pagination
  &.is-right
    .pagination-list
      &.is-loading
        color: transparent !important
        pointer-events: none
        position: relative
        &:after
          +loader
          +center(16px)
          position: absolute !important
          top: 52%
          left: 10px