.table
  .is-select
    .control
      text-align: right
      width: 100%
      .select
        width: 100%
        select
          width: 100%
        &.is-loading
          &:after
            +loader
            height: 10px
            width: 10px
            position: absolute !important
            pointer-events: none
            right: 10px
            top: 9px
        &:after
          z-index: 0
  &.table--mobile
    +mobile
      display: block
      overflow-x: scroll
  &.table-admin
    thead
      th:first-child
        width: 50px
      th:nth-last-child(1)
        text-align: center
        width: 50px
      th:nth-last-child(2)
        text-align: center
        width: 50px
      th:nth-last-child(3)
        text-align: center
        width: 150px
    tfoot
      th:first-child
        width: 50px
      th:nth-last-child(1)
        text-align: center
        width: 50px
      th:nth-last-child(2)
        text-align: center
        width: 50px
      th:nth-last-child(3)
        text-align: center
        width: 150px
    tbody
      td:first-child
        width: 50px
      td:nth-last-child(1)
        text-align: center
        width: 50px
      td:nth-last-child(2)
        text-align: center
        width: 50px
      td:nth-last-child(3)
        text-align: center
        width: 150px

.table
  .is-icon
    &.is-primary
      a
        color: $primary
    &.is-danger
      a
        color: $danger
    &.is-warning
      a
        color: $warning
    &.is-success
      a
        color: $success
    &.is-info
      a
        color: $info
    &.is-link
      a
        color: $text
