

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  // -webkit-user-modify: read-only;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;

}

html, body {
  min-height: 100%;
  background-color: #ffffff;
}

form input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;
}

#section {
  background-color: #85a2c2;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}


.is-no-radius {
  border-radius: 0;
}

.select {
  &.is-small {
    height: 20px;
    select {
      height: 20px;
    }
  }
}
.level-item {
  a {
    color: $dark;
    &.is-active {
      font-weight: bold;
      color: $primary;
    }
    &:hover {
      color: $primary;
    }
  }
}




.tabs-content {
  @include animation(anim-close .5s);
  display: none;
  &.is-active {
    @include animation(anim-open .5s);
    /*@include animation(from-left 1s);*/
    display: block;
  }
}


.level.is-mobile {
  .title {
    color: #fff;
  }
}


.hide {
  display: none;
}
.drop {
  padding: 15px;
  border: 2px #f1f1f1 dashed;
  border-radius: 5px;
  line-height: 34px;
  .grag-over {
    background-color: $primary;
  }
}


.icon-s {
  width: 20px;
}

.columns {
  &.tabs-edit-content {
    display: none;
    &.is-active {
      @include flexbox;
    }
  }
}

.progress {
  overflow: visible;
  background-color: #eee;
  margin: 0;
}
.progress-bar {
  width: 0px;
  background-color: #00d1b2;
  height: 3px;
  @include transition(all .5s);
}


.cropImage {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.crop-buttons {
  z-index: 700;
  .__crop-init {
    display: none;
  }
  .button {
    .icon {
      margin-left: 0;
      margin-right: 0;
    }
  }
}



.article_link {
  &:hover {
    background-color: #eee;
  }
}


.laravel-container {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  .laravel-title {
    font-size: 84px;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
  }
}