$app-path: './../../../../' !default;

$node-path: 		$app-path + 'node_modules/' !default;
$public-img-path: 	$app-path + 'public/img/' !default;
$common-path: 					'./../common/' !default;
$common-components-path: 		'./../common/components/' !default;

@import url($node-path + 'font-awesome/css/font-awesome.min.css');
@import url($node-path + 'simple-line-icons/css/simple-line-icons.css');
@import url($node-path + 'tippy.js/dist/tippy.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,600');
@import url($node-path + 'toastr/build/toastr.css');


@import './../common/components/_froala';
@import './../common/components/_mixins.scss';
@import './../common/components/_flexbox';

//@import 'bulma.0.4.3/bulma';
//@import 'bulma/sass/custom/_all';

@import 'bulma/bulma';

@import './../common/components/_keyframes';

$primary-color-light: $primary;
$primary-color-light: $primary;
$primary-color-nav: #f39468;

@import './../common/components/_autocomplete';
@import './../common/components/_desta';
//@import './../common/components/_notification';
@import './../common/components/loaders/_loaders';
@import './../common/components/_loader';
@import './../common/components/_dialog';
@import './../common/components/_flickity';
@import './../common/components/_mockup';
@import './../common/components/_checkbox';
@import './../common/components/_fancybox';
@import './../common/components/_nav-dropdown';

// Brands
$brand-primary: $primary;
$brand-info: $primary;
//$brand-success: #2ab27b;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #ff1e6a;

@import './../common/toastr/toastr';


@import '_project';

