$app-path: './../../../../' !default;

$node-path: 		$app-path + 'node_modules/' !default;
$public-img-path: 	$app-path + 'public/img/' !default;
$common-path: 					'./../common/' !default;
$common-components-path: 		'./../common/components/' !default;

$layout-path: 					'./../../../layout/' !default;

//@import './../common/components/_mixins.scss';
@import './assets/jquery.fancybox.min.css';

@import url($node-path + 'font-awesome/css/font-awesome.min.css');
@import url($node-path + 'bootstrap/dist/css/bootstrap.min.css');
//@import './assets/bootstrap.min.css';
//@import './assets/bootstrap-theme.min.css';
@import url($layout-path + 'css/bootstrap/bootstrap-theme.min.css');



@import '_pre';


//@import './assets/main.css';
@import url($layout-path + 'assets/css/main.css');

@import './variables';
$primary-color-light: #eee;
@import './../common/components/_notification';
@import url($layout-path + 'css/main.css');

.table {
    width: 100%;
    max-width: 65%;
    margin: auto;
    border-left: solid 1px rgba(210, 215, 217, 0.75);
    border-right: solid 1px rgba(210, 215, 217, 0.75);
}
//@import 'main.css';
@import '_dialog';
@import 'loader';
@import 'posts';

//@import 'assets/ie8.css';
//@import 'assets/ie9.css';

.hidden {
  display: none !important;
}
#product table {
  width: 100% !important;
  max-width: 100%;
}
#product table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
#product table th {
  padding: 10px !important;
  margin: 0;
  //border: 1px solid #596167 !important;
  //background-color: #596167 !important;
  color: #596167 !important;
  p {
    margin: 0;
  }
}
#product table tr:first-child td {
  padding: 10px !important;
  //border: 1px solid #596167 !important;
  //background-color: #596167 !important;
  color: #596167 !important;
  p {
    margin: 0;
  }
  b {
    color: #596167 !important;
  }
}
#product table tr td {
  p {
    margin: 0;
  }
}


.tooltip > .tooltip-inner, .red-tooltip + .tooltip > .tooltip-arrow {
  background-color: #fff;
  color: #353535;
}