@keyframes spinAround {
  from {  transform: rotate(0deg);  }
  to {  transform: rotate(359deg);  }
}

@mixin center($size) {
  left: 50%;
  margin-left: -($size / 2);
  margin-top: -($size / 2);
  position: absolute;
  top: 50%;
}
@mixin loader($color) {
  animation: spinAround 500ms infinite linear;
  //border: 2px solid #596167;
  border: 2px solid $color;
  border-radius: 100%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1rem;
  position: relative;
  width: 1rem;
}


button, a, button.special, a.special {
  &.is-loading {
    position: relative;
    color: transparent !important;
    pointer-events: none;
    &:after {
      @include loader(#fff);
      @include center(16px);
      position: absolute;
    }
  }
}
.dialog__loading {
  position: relative;
  color: transparent !important;
  pointer-events: none;
  &:after {
    @include loader(#596167);
    @include center(16px);
    position: absolute;
    z-index: 5;
  }
}

.help {
  &.is-danger {
    color: hsl(348, 100%, 61%);
    font-size: 13px;
  }
}