body, input, select, textarea {
    color: #353535;
}
*{
	outline: none !important;
}
a{
	text-decoration: none !important;
}

.img-cont{
	width: 100%;
    margin: 0 0 10% 0;
    overflow: hidden;
    height: 44%;
    border-radius: 7px;
}

#menu .menu-cont{
	width: 100%;
	margin-bottom: 30px;
}

.desc-wrap{
    position: relative;
}

.desc-wrap .menu-top-contacts{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 3em;
    margin-bottom: 1em;
    text-align: right;
}

.desc-wrap .menu-top-contacts span{
    color: white;
    font-size: 20px;    
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em
}

.desc-wrap .menu-top-contacts span:nth-child(2n){
    font-weight: 400;
}

#menu .menu-cont img{
	width: 100%;
	border-radius: 4px;
}

.posts article .image {
    display: block;
    margin: 0 0 0 0; 
}

.posts article ul.actions{
	height: 39px;
}

.posts article ul.actions li{
	position: absolute;
	bottom: 0;
}

.more-bt{
	margin-top: 7%;
	margin-bottom: 31px;
	float: right;
}

#sidebar{
	background-color: #596167;
}

#sidebar > .inner > .alt {
	/*background-color: #eaeae0;	*/
}
#menu ul {
    color: white;
}

#menu ul a.opener:before, #menu ul span.opener:before{
    color: white;
}

#menu > ul > li > ul a, #menu > ul > li > ul span {
    color: white;
}

#menu > ul > li > ul > li {
    list-style-type: circle;
}

#footer .copyright {
    color: white;
}

#sidebar .toggle:before{
    color: black;
}

#sidebar > .inner > .alt {
    background-color: #596167;
}

.for-content
{
	max-width: 90%;
}

.for-content img{
	width: 50%;
}
.main-cont .desc-cont{
	margin-bottom: 30px;
}

.main-cont.for_item .text-cont-left{
    vertical-align: top;
    width: calc(100% - 150px);
    padding-right: 1em;
    display: inline-block;
    border-right: 2px solid rgba(210, 215, 217, 0.75);
}

.main-cont.for_item .text-cont-left .text-cont-left-description{
    clear: both;
    height: 100%;
}

.main-cont.for_item .text-cont-left hr.major{
    clear: both;
}

.for-content-img img{
    width: 100%;
}

.main-cont.for_item .text-cont-left .image.for-content-img{
    max-width: 50%;
    margin-right: 1em;
    float: left;
}

.main-cont.for_item .serts-cont{
    vertical-align: top;
    width: calc(100px);
    margin-left: 10px;
    display: inline-block;
}

.main-cont.for_item .serts-cont .serts-cont-wrp img{
    width: 100%;
    max-width: 100px;
}

.main-cont.for_item .serts-cont .serts-cont-wrp a{
    outline: none !important;
    border: none;
}

.main-cont.for_item .serts-cont h2{
    display: none;
}

.main-cont.for_item {
    width: calc(100% - 100px);
    display: inline-block;
}

@media screen and (max-width: 636px){
    .main-cont.for_item .text-cont-left .image.for-content-img{
        max-width: 90%;
        margin: auto;;
        float: inherit;
    }
    .main-cont.for_item .text-cont-left{
        width: 100%;
        display: block;
        border-right: none;
    }
    .main-cont.for_item .serts-cont{
        width: 100%;
        display: block;
    }
    .main-cont.for_item .serts-cont h2{
        display: block;
    }
    .main-cont.for_item .serts-cont .serts-cont-wrp{
        display: inline-block;
        width: 70px;
    }
}

section.main-cont.popular_goods{
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px !important;
    /*border-bottom: 1px solid #dde1e2;*/
}

section.main-cont{
	border-bottom: 1px solid #dde1e2;
}

.modalData{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 600px;
    height: auto;    
}

.modalData .modal-content{
	margin-top: 15%;
}

.modalData button.close{
	-moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    color: inherit !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 1.5em;
    font-weight: 700;
    height: auto;
    letter-spacing: auto;
    line-height: 1;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: inherit;
    white-space: nowrap;
}

.modalData form .row{
	float: none;
}

.modalData form div{
	float:none;
}

.modal-body .item label{
	display: inline-block;
	width: 20%;
	margin-right:15%;
}

.modal-body .item{
	text-align: right;
}

.modal-body .item input{
	text-align:right;
	width:35%;
	display: inline-block;
	text-align:right;
	padding-right: 5%;
}

input[type="number"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #ffffff;
    border-radius: 0.375em;
    border: none;
    border: solid 1px rgba(210, 215, 217, 0.75);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

.row.tab-img img{
	width: 100%;
}
.row.tab-img a{
	outline: none !important;
	border: none;
}

.fancybox-container button{
	box-shadow: none;
	color: white !important;
}
#header {
    border-bottom: solid 5px #10163b;
}
#wrapper{
   /* background: #efefef;*/
}

header.major > :last-child {
    border-bottom: solid 3px #10163b;
}
#menu h2{
    color: white;
    border-bottom:solid 2px white;
}
.features article .icon:before{
    color: #3c9253;
}
input[type="submit"].special, 
input[type="reset"].special, 
input[type="button"].special, 
button.special, .button.special{
    background-color: #596167;
}
input[type="submit"], 
input[type="reset"], 
input[type="button"], 
button, .button{
    box-shadow: inset 0 0 0 2px #596167;
    color: #596167 !important;
}
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover, 
button:hover, .button:hover{
    box-shadow: inset 0 0 0 2px #f56a6a;
}
.category-header img{
    border-radius: 7px;
}

.posts article{
    margin: 0 0 6em 6em !important;
}

#sidebar .major h2{
    color: white;
    border-bottom:solid 2px white;    
}

#sidebar ul.contact li,
#sidebar ul.contact li a{
    color: white !important;
}


#sidebar ul.contact li:before{
    color: white;
}

.enlarged #sidebar .toggle{
    z-index: 10050000;
    transition: margin-left 0.5s ease,width 0.5s,height 0.5s,top 0.5s ease,margin-top 0.5s ease, box-shadow 0.5s ease;
}


#search form{
    width: 70%;
    display: inline-block;
    margin-bottom: 0px;
}

#search .find-bt{
    display: inline-block;
    vertical-align: top;
    width: 28%;
}
#search .find-bt .button{
    background-color: #3e9a57;
    height: 3.9em;
    line-height: 3.9em;
}

#search .find-bt .button:hover{
    box-shadow: none !important;
    background-color: #27ad81;
}

#main > .inner > section{
    padding-top: 3em;
}

.menu-cont a{
    outline: none !important;
    border:none !important;
}
a.image img {
    -moz-transition: transform 0.5s cubic-bezier(0.57, 0.46, 0, 0.85);
    -webkit-transition: transform 0.5s cubic-bezier(0.57, 0.46, 0, 0.85);
    -ms-transition: transform 0.5s cubic-bezier(0.57, 0.46, 0, 0.85);
    transition: transform 0.5s cubic-bezier(0.57, 0.46, 0, 0.85);
}

.enlarged #main{
    transition: margin-left 0.5s ease,width 0.5s,height 0.5s,top 0.5s ease,margin-top 0.5s ease,margin-right 0.5s ease,margin-top 0.5s ease, box-shadow 0.5s ease;
}

#main{
    transition: margin-left 0.5s ease,width 0.5s,height 0.5s,top 0.5s ease,margin-top 0.5s ease,margin-right 0.5s ease,margin-top 0.5s ease, box-shadow 0.5s ease;   
}

.enlarged #main .top-menu{
    width: 100%;    
    display: block;
    top: 0;
    box-shadow: -2px 8px 23px rgba(0,0,0,0.5);
}

#main .top-menu {
    height: 130px;
    top: -130px;
    /*background: linear-gradient(to top, #fefcea, #cfdaea);*/
    background: rgba(89, 97, 103, 0.9);
    box-shadow: none;
    width: calc(100% - 23.4em);
    /*position: fixed;*/
    color: white;
    padding: 0 6em 0.1em 6em;
    margin: 0 auto;
    overflow: hidden;
    z-index: 100000000;
    transition: margin-left 0.5s ease,width 0.5s,height 0.5s,top 0.5s ease,margin-top 0.5s ease,margin-right 0.5s ease,margin-top 0.5s ease, box-shadow 0.5s ease;
}

#main .menu-top{
    padding: 0 6em 0.1em 6em;
    margin-bottom: 15px;
}


.menu-top-line{
    opacity: 1;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: 50px !important;
    transition: opacity 0.5s ease, display 0.5s ease;   
}

.menu-top-line .top-line-wrp{
    width: 100%;    
    box-shadow: -2px 8px 23px rgba(0,0,0,0.5);
    background: rgba(89, 97, 103, 0.9);    
    height: 50px;
}

.menu-top-btns{
    margin-top: 0px !important;
    transition: margin-top 0.5s ease;
    padding: 0 6em 0.1em 6em;
    margin-bottom: 15px;
}

.no-line .menu-top-btns{    
    margin-top: -65px !important;
    transition: margin-top 0.5s ease;
}

.menu-top-btns .top-line-section{
    padding: 1em 1em 1em 1em;
    background: white;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.menu-top-btns .top-line-section .cart-n-search{
    margin: auto;
    margin-left: 0;
    display: inline-flex;
}

.menu-top-btns .top-line-section .cart-n-search .cart{
    margin: auto;
    margin-right: 15px;
}


.no-line .menu-top-btns .top-line-section .cart-n-search .search{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.menu-top-btns .top-line-section .cart-n-search .search input{
    color: #7f888f;
    border: 1px solid rgba(127,136,143,1);
}

.menu-top-btns .top-line-section .cart-n-search .search input:focus{
    box-shadow: none;
    border:1px solid #f56a6a;
}

.menu-top-btns .top-line-section .cart-n-search .search{
    opacity: 1;
    margin: auto;
    transition: opacity 0.5s ease;
}

.menu-top-btns .top-line-section .cart-n-search .search form{
    display: inline-block;
    margin: 0;
    margin-right: 7px;
}

.menu-top-btns .top-line-section .cart-n-search .search .find-bt{
    display: inline-block;
}

.menu-top-btns .top-line-section .cart-n-search .search .find-bt .fa{
    font-size: 25px;
    color: #2f9ed3;
    border-bottom: 0;
}

.menu-top-btns .top-line-section .cart-n-search .search .find-bt a{
    border-bottom: 0;
}

.menu-top-btns .top-line-section .quick-bts{
    margin: auto;
    display: inline-flex;
    justify-content: space-around;
    margin-right: 0;
}

.menu-top-btns .top-line-section .quick-bts .item{
    margin: auto;
    width: 25%;
    line-height: 1.4;
}

.menu-top-btns .top-line-section .quick-bts .item .icon{

}

.menu-top-btns .top-line-section .quick-bts .item .item-wrp span{
    display: inline-block;
    font-size: 25px;
    vertical-align: top;
    color: #2f9ed3;
    padding-right: 7px;
}

.top-btn-call.item .item-wrp{
    text-align: center;
}

.top-btn-call.item .item-wrp .fa{
    font-size: 25px;
}

.menu-top-btns .top-line-section .quick-bts .item .item-wrp a{
    display: inline-block;
    width: 20%;
    border-bottom: 0;
}

.fxd{
    position: fixed;
    z-index: 10000;
    /*transition: margin-left 0.5s ease,width 0.5s,height 0.5s,top 0.5s ease,margin-top 0.5s ease,margin-right 0.5s ease,margin-top 0.5s ease, box-shadow 0.5s ease;*/
}

.no-line .menu-top-line{
    opacity: 0;
    pointer-events: none;
    /*display: none;*/
    transition: margin-left 0.5s ease,width 0.5s,height 0.5s,top 0.5s ease,margin-top 0.5s ease,margin-right 0.5s ease,margin-top 0.5s ease,opacity 0.5s ease,display 0.5s ease, box-shadow 0.5s ease;   
}

.no-line #main .inner{
}

#main .inner{
}

.menu-top-line .inner-top-line{
    display: none;
}

.menu-top-line ul{
    margin: 0;
    display: inline-flex;
    width: 100%;
    list-style: none;
    padding-left: 0 !important;
}

.menu-top-line ul li{
    margin: auto;
    color: white;
    width: 25%;
    text-align: center;
    height: 50px;
    padding-left: 0 !important;
    display: flex;
}

.menu-top-line ul li a{
    color: white;
    /*border-bottom: 1px solid white !important;*/
    border-bottom: none;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle; 
    margin: auto;
}

.menu-top-line ul li span{
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

#main .top-menu .fa-shield{
    padding-right: 6px;
}

#main .top-menu .fa-truck{
    padding-right: 1px;
}

.top-menu .menu-inner{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 120px;
    width: 100%;
}

.top-menu .menu-inner .desc-wrap{    
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.top-menu .menu-inner .menu-adress{
    text-align: right;
    /*border-left: 5px solid gray;*/
    padding-left: 2px;
}

.menu-desc{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-weight: bold;
    font-style: italic;
    /*border-right: 1px solid black;*/
}

.menu-desc .img-desc{
    display: inline-block;
    width: 40%;
    max-width: 269px;
    margin-right: 15px;
}

.menu-desc .img-desc a{
    border-bottom: 0px;
}

.menu-desc .img-desc img{
    width: 100%;
}

.menu-desc span{
    display: inline-block;   
}

.menu-adress{
    margin-left: auto;
    margin-right: auto;
    width: 29%;
    font-style: italic;
    font-weight: bold;
}

ul.menu-btns{
    margin: 0;
    padding-left: 0;
}

.menu-btns{
    margin: auto !important;
}

.menu-btns .icon{
    margin-right: 10px;
}

.menu-inner ul{
    list-style: none;
    width: 30%;
    line-height: 1.5;
}

.menu-inner ul li{
    text-align: left;
    border-bottom: 1px solid gray;
}

.menu-inner ul li a{
    border-bottom: none;
    color: white;
}

.top-call.modal{
    z-index: 1000000000;
}

.top-call .modalData{
    top: 130px;
}

.modal-open {
    /*overflow-y: scroll;*/
}

.menu-cont span{
    color: white;
}

.enlarged .top-buttons{
    top: -160px;
    transition: margin-left 0.5s ease,width 0.5s,height 0.5s,top 0.5s ease,margin-top 0.5s ease,margin-right 0.5s ease,margin-top 0.5s ease, box-shadow 0.5s ease;
}

.top-buttons{
    width: calc(100% - 23.4em);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: margin-left 0.5s ease,width 0.5s,height 0.5s,top 0.5s ease,margin-top 0.5s ease,margin-right 0.5s ease,margin-top 0.5s ease, box-shadow 0.5s ease;
}

.top-buttons .top-btns-wrp{
    width: 460px;
    margin: auto;
}

.top-buttons .top-btns-wrp .item{
    width: 150px;
    color: white;
    background: #596167;
    display: inline-flex;
    height: 49px;
    vertical-align: top;
    line-height: 1.1;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
}

.top-buttons .top-btns-wrp .item .item-wrp{
    margin: auto;
    font-size: 15px;
}

.top-buttons .top-btns-wrp .item a{
    color: white;
    border-bottom: none;
}

#wrapper.__1{
    background-color: #ffffff;
    background-image: url(https://www.transparenttextures.com/patterns/brushed-alum-dark.png);
}

#wrapper.__2 {
    background-color: white;
    background-image: url(https://www.transparenttextures.com/patterns/clean-textile.png);
}

#wrapper.__3{
    background: #efefef;
}

#wrapper.__3 #header{
    background: white;
    padding: 3em 1em 1em 1em;
}

#wrapper.__3 #main > .inner > section{
    padding: 3em 1em 1em 1em;
    background: white;   
}

.desc-wrap img{
    width:100%;
    vertical-align: bottom;
}

.enlarged .fxd_sb{
    top: 50px !important;
}

.desc-wrap.mobile{
    display: none;
}

.dropdown-menu{
    background-color: rgba(103, 110, 116, 1);
    transition: height 1s ease;
}

.menu-top-line ul .dropdown-menu li{
    display: block;    
    width: 100%;
    text-align: left;
    border-bottom: none;
}

.menu-top-line ul li .dropdown-menu a{
    border-bottom: none !important;
}

.dropdown-menu > li > a{
    padding: 5px 20px;
    margin: auto 0;
    width: calc(100%);
}

.dropdown .dropdown-menu li {
    height: 0;
    overflow: hidden;
    display: flex;
}

.dropdown-menu{
    padding: 0;
    border: none;
    transition: all .5s ease;
}

.dropdown-toggle:before{
    content: '\f078';
    font-family: FontAwesome;
    position: absolute;
    margin-right: 15%;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    color: white;
    right: 0;
}

.dropdown.open .dropdown-toggle:before{
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

a.dropdown-toggle:hover:before{
    color: #f56a6a !important;   
}

.dropdown.open .dropdown-menu li{
    height: auto;
    min-height: 50px;
    overflow: inherit;
}

.dropdown.open .dropdown-menu{
    padding: 5px 0;
    border: 1px solid rgba(0,0,0,.15);
}

.dropdown-menu>li>a {
    white-space: normal;
}

a.dropdown-toggle{
    padding-right: 40px;
}

.tooltip.bottom .tooltip-arrow{
    display: none;
}

@media screen and (max-width: 636px){
    .menu-top-btns .top-line-section{
        display: block;
    }
    .menu-top-btns .top-line-section .cart-n-search{
        display: block;
    }
    .menu-top-btns .top-line-section .cart-n-search .cart .fa{
        font-size: 25px;
    }

    .menu-top-btns .top-line-section .cart-n-search .cart span{
        margin-left: 9px;
    }

    .top-btn-garanties.item .item-wrp a{
        margin-left: 8px
    }

    .menu-top-btns .top-line-section .quick-bts{
        display: block;
    }
    .menu-top-btns .top-line-section .quick-bts .item{
        width: 100%;
        margin-top: 10px;
    }
    .menu-top-btns .top-line-section .quick-bts .item .item-wrp a{
        width: auto;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
    }
    .top-btn-call.item .item-wrp{
        text-align: left;
    }
}

@media screen and (max-width: 550px){   
    .menu-top-line{
        display: none;
    }
    .no-line .menu-top-btns{
        margin-top: 0 !important;
    }
    .enlarged .fxd_sb{
        top: 0 !important;
    }
}

@media screen and (max-width: 500px){   
    .menu-top-line ul li span,
    .menu-top-line ul li a{
        font-size: 12px
    }
}

@media screen and (min-width: 1281px) and (max-width: 1680px){
    .menu-top-btns,
    #main .menu-top{
        padding: 0 5em 0.1em 5em ;
        max-width: 110em;
        margin-left: auto;
        margin-right: auto;
    }     
}

@media screen and (min-width: 737px) and (max-width: 1280px){
    .menu-top-btns,
    #main .menu-top{
        padding: 0 4em 0.1em 4em ;
        max-width: 110em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 810px){
    .menu-top-btns .top-line-section .cart-n-search .search{
        display: none;
    }
}

@media screen and (max-width: 960px){
    .menu-top-line ul li span{
        vertical-align: text-top;
    }
    .menu-top-btns .top-line-section .cart-n-search .search form{
        width: 100px;
    }
}

@media screen and (max-width: 1280px){
    .top-buttons{
        width: calc(100% - 21.6em);
        right: 0;
        display: none;
    } 
}

@media screen and (max-width: 736px){
    .enlarged #main .top-menu{
        padding: 0 2em 0.1em 2em;
    }
    .menu-desc{
        display: none;
    }
    .menu-inner ul{
        vertical-align: top;
        width: 50%;
        margin-top: 0 !important;
    }
    .menu-adress{
        vertical-align: top;
        width: 50%;
    }
    .menu-top-btns,
    #main .menu-top{
        padding: 0 2em 0.1em 2em;
        max-width: 110em;
        margin-left: auto;
        margin-right: auto;
    }
    .desc-wrap.desctop{
        display: none;
    }
    .desc-wrap.mobile{
        display: block;
    }
}

@media screen and (max-width: 1680px){
    #main .top-menu {
        width: calc(100% - 21.6em);
        padding: 0 5em 0.1em 5em;
        right: 0;
    }
}

@media screen and (min-width: 737px){
    #header > *{
        flex: none;
    }
    .head-cont{
        width: 80%;
    }
    .icons{
        width: 20%;
    }   
}

@media (max-width: 480px){
    .posts article{
        margin: 0 0 4.5em 0 !important;
    }   
}
@media (min-width: 481px) and (max-width: 736px){
    .posts article {
        margin: 0 0 4.5em 4.5em !important;
    }
}
@media (max-width: 1280px){
	.for-content img{
		width: 100%;
	}
}

@media (max-width: 1681px){
    .posts article .desc-cont p {
        margin-bottom: 65px !important;
    }
}
@media (min-width: 1681px) and (max-width: 3000px){
    .posts article .desc-cont p {
        margin-bottom: 65px !important;
    }    
}

@media (max-width: 455px){
	table th{
		padding: 0px;
	}
}

@media screen and (max-width: 480px){
    .features article .icon {
        margin: auto;
    }
    .features .content h3{
        text-align: center;
    }
}